# Shared environment for frontend & backend

# --- MongoDB ---
MONGO_URI=mongodb+srv://mksimantipev228_db_user:C4UjkBYpXFPRhI1J@cluster0.ct1oqnw.mongodb.net/?appName=Cluster0
MONGO_DB=dima_miniapp_11_25

# --- Security / auth ---
ADMIN_IDS=123456789,987654321
JWT_SECRET=5920851136f33e541e345ecd3b7141917e5b53ba1acad9621cfd151a9c8b33d1
TELEGRAM_BOT_TOKEN=8448793700:AAEtmzxPDcYiWr2PxF6Za-NRYYhzxgLR-J0

# --- Frontend ---
VITE_API_URL=http://localhost:8000/api
VITE_ADMIN_IDS=123456789,987654321
VITE_USE_MOCK_CATALOG=true

