[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = [
  "npm ci",
  "npm run build"
]

[phases.build]
cmds = []

[start]
cmd = "npx serve -s dist -l ${PORT:-3000}"

[variables]
NODE_ENV = "production"

